<section class="card">
    <a href="/game/{{id}}">
        <header>{{title}}</header>

        <div class="card-body">
            <img src="{{game_cover}}" alt="cover of {{title}}">
            <p>Price: {{price}}</p>
        </div>
    </a>
</section>