<section class="card shadow-lg">
    <a href="/game/{{id}}">
        <img class="card-img-top" src="{{boxart_url}}" alt="cover of {{title}}">
        <div class="card-body">
            <h5 class="card-title title">{{title}}</h5>
            <h5 class="card-title price">${{price}}</h5>
        </div>
    </a>
</section>
