<section class="card shadow-lg">
    <a href="/game/{{id}}">
        <img class="card-img-top" src="{{boxart_url}}" alt="cover of {{title}}">
        <div class="card-body d-flex justify-content-between">
            <h5 class="card-title">{{title}}</h5>
            <h5 class="card-title">{{price}}</h5>
        </div>
    </a>
</section>