<div class="game-title p-2">
    <h1>{{game.title}}</h1>
</div>
<div class="container game-container d-flex justify-content-center">
    <img src="{{game.boxart_url}}" alt="Cover of {{game.title}}">
    <div class="d-flex flex-column game-info" id="{{game.id}}">
        <h2 class="p-2">Price: ${{game.price}}</h2>
        <h2 class="p-2">In Stock: {{game.stock}}</h2>
        <h2 class="p-2">Developed By: {{game.developers}}</h2>
        <h2 class="p-2">Release Date: {{game.release_date}}</h2>
        <button class="btn btn-primary align-items-end" id="add-cart">Add to Cart</button>
    </div>
</div>

