<<<<<<< HEAD
<div class="game-title p-2">
    <h1>{{game.title}}</h1>
</div>
<div class="container game-container d-flex justify-content-center">
    <img src="{{game.boxart_url}}" alt="Cover of {{game.title}}">
    <div class="d-flex flex-column game-info" id="{{game.id}}">
=======
<h1 class="d-flex justify-content-center p-1">{{game.title}}</h1>

<div class="container d-flex justify-content-center py-1 my-1 px-2">
    <img src="{{game.boxart_url}}" alt="Cover of {{game.title}}">
    <div class="d-flex flex-column p-2">
>>>>>>> 2b11fc40f94a7aa716c97db45e1822f3e6840707
        <h2 class="p-2">Price: ${{game.price}}</h2>
        <h2 class="p-2">In Stock: {{game.stock}}</h2>
        <h2 class="p-2">Developed By: {{game.developers}}</h2>
        <h2 class="p-2">Release Date: {{game.release_date}}</h2>
<<<<<<< HEAD
        <button class="btn btn-primary align-items-end" id="add-cart">Add to Cart</button>
=======
        <button class="btn btn-primary align-items-end">Add to cart</button>
>>>>>>> 2b11fc40f94a7aa716c97db45e1822f3e6840707
    </div>
</div>