<h1>{{game.title}}</h1>

<div class="container d-flex justify-content-center">
    <img src="{{game.boxart_url}}" alt="Cover of {{game.title}}">
    <div class="d-flex flex-column">
        <h2 class="p-2">Price: ${{game.price}}</h2>
        <h2 class="p-2">Stock: {{game.stock}}</h2>
        <h2 class="p-2">Release Date: {{game.release_date}}</h2>
        <button class="btn btn-primary align-items-end">Add to cart</button>
    </div>
</div>

