<h1>{{game.title}}</h1>

<img src="{{game.boxart_url}}" alt="Cover of {{game.title}}">
<p>{{game.price}}</p>
<p>{{game.stock}}</p>
<p>{{game.release_date}}</p>
<p>{{}}</p>

<button>add to cart</button>

